* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Utilities */
img {
  width: 7rem;
  height: 25rem;
  object-fit: cover;
  cursor: pointer;
  /* transition: width 0.5s ease-in-out; */
  transition: all 0.5s cubic-bezier(0.61, -0.19, 0.7, -0.11);
}

.activate__fullview {
  width: 580px;
}

body {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  margin: 2rem;
  background: #ebe8e8;
  overflow-x: hidden;
}

.flexy {
  width: 80%;
  padding: 2rem;
  background: #fff;
  border: 2px solid #ccc;
  overflow-x: hidden;
}

.flexy .flex {
  display: flex;
  position: relative;
}
